@charset "UTF-8";
/* CSS Document */

	.wrap { 
		/*display: flex;*/
		align-items: left;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
		display:flex;
		/*padding: 8px;*/
	}
	
	.card_wrap { 
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-left: 40px;
		margin-top: 20px;
		margin-right: 30px;
	}
	
	.card_item { 
		/*flex-basis: 25%;*/
		width:340px;
		margin-bottom: 16px;
		z-index: 0;
		padding: 0px 8px;
		box-sizing: border-box;
	}
	
	.card_content { 
		background-color:#FEFEFE;
		border-radius: 4px;
		height: 180px;
		width: 100%;
		box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19);
		z-index: 0;
	}

.player_info{
    display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding-top: 12px;
	
}

.rank{
	font-family: "Avenir Next Heavy";
	font-size: 20px;
	color: black;
	float:left;
	padding-right: 2px;
	padding-left: 15px;
	text-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.name{
	font-family:"Hiragino Sans GB W6";
	color:black;
	font-size:18px;
	padding-left: 6px;
}
.namee{
	font-family: 'Galvji';
	color:#A6A6A6;
	font-size:14px;
	padding-left: 8px;
}
.sop{
	font-family:"Hiragino Sans GB W3";
	color:#A6A6A6;
	font-size:12px;
	margin-left: 6px;
}
.assos{
	display: flex;
	flex-wrap: wrap;
	align-items:stretch;
	padding-left: 15px;
	
}
.logo{
	width:20px;
	height: 16px;
	box-shadow:1px 0px 0px 0 rgba(0,0,0,0.2),1 0px 0px 0 rgba(0,0,0,0.19);
}
.infov{
	display: flex;
	flex-wrap: wrap;
	align-items:baseline;
	padding-left:40px;
	padding-top: 2px;
	padding-bottom: 6px;
	border-bottom-style:solid;
	border-bottom-color:#D4D4D4;
	border-bottom-width: thin;
}
.infovv{
	display: flex;
	flex-wrap: wrap;
	align-items:baseline;
	padding-left:40px;
	padding-top: 2px;
	padding-bottom: 8px;
	border-bottom-style:solid;
	border-bottom-color:#D4D4D4;
	border-bottom-width: thin;

}
.assoname{
	font-family: "Hiragino Sans GB W6";
	font-size:15px;
	color:black;
	padding-left: 6px;
}
.age{
	font-family:"Galvji";
	font-size:12px;
	color:#A6A6A6;
	padding-left: 8px;
}

.headtohead{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	padding-left: 30px;
	padding-top: 15px;
}
.recordlose{
	font-family:"Avenir Next Demi Bold";
	font-size:30px;
	color:#FF1317;
	background-color: #FFBEBF;
	text-align: center;
    width:40px;
	height:40px;
	margin-left: 3px;
}
.recordwin{
	font-family:"Avenir Next Demi Bold";
	font-size:30px;
	color:#13DD23;
	background-color: #BBF9C0;
	text-align: center;
	width:40px;
	height:40px;
	margin-right: 3px;
}
.ratewrap{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 55px;
	margin-top: 5px;
}
.rate{
	font-family:"Avenir Next Demi Bold";
	font-size:20px;
	color:black;
	margin-left: 2px;
}

.lastmatch{
    align-items: center;
	margin-left: 40px;
}

.lastmatchtitle{
	font-family:"Hiragino Sans GB W3";
	font-size:12px;
	color:lightslategray;
}

.lastmatchnum{
	font-family:"Avenir Next Demi Bold","Hiragino Sans GB W3";
	font-size:20px;
	color:black;
}


.guider{
	position:sticky;
	top:0;
	height:auto;
	width:102%;
	z-index: 2;
	margin-left: -10px;
    background-image: linear-gradient(90deg,#0022FF,#99A7FF);
	box-shadow:0 2px 2px 1px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.2);
	margin-top:5px; 
}
.guiderwrap{

	margin-top: -10px;

	display:flex;
	flex-wrap: wrap;
	align-items: baseline;
	z-index: 3;
	margin-left: 40px;
}

.announcement
{
	color:gray;
	
	font-family: 'Hiragino Sans GB W6';
	font-weight: 500;
	margin-left:40px;
	margin-top:20px;
	margin-right: 100px;
	width: 100%;
	margin-bottom: 2px;
}

.wrweek{
	color:white;
	font-family:"Galvji";
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.title{
	color:white;
	font-family: "Avenir Next Heavy";
	font-size: 40px;
	
	padding-top: 10px;
}

.detailsbox{
  width:100%;
	height: 180px;
  position: relative;
  display: inline-block;
  z-index: 0;
}

.detailsbox-content{
  display: none;
  position: relative;
  margin-top: -180px;
  margin-bottom: -10px;
  width: 100%;
  z-index: 1;
  border-radius: 4px;
  height: 180px;
  overflow-y: scroll;
  backface-visibility: visible;
  background-color: white;
}
.detailsbox-content::-webkit-scrollbar{
	width: 2px;
	background: white;
	border-radius: 4px;
}
.detailsbox-content::-webkit-scrollbar-thumb{
	background: black;
	border-radius: 2px;
}

.detailsbox:hover .detailsbox-content{
	display: block;
	height: 180px;
}


.matchwin{
	background-image: linear-gradient(90deg,#BBF9C0,white);
	width: 100%;
	height: auto;
	display: block;
	border-bottom-style:solid;
	border-bottom-color:#D4D4D4;
	border-bottom-width: thin;
	height: 60px;
}

.matchlose{
	background-image: linear-gradient(90deg,#FFBEBF,white);
	width: 100%;
	height: auto;
	display: block;
	border-bottom-style:solid;
	border-bottom-color:#D4D4D4;
	border-bottom-width: thin;
	height: 60px;
}

.matchnc{
	background-image: linear-gradient(90deg,aliceblue,white);
	width: 100%;
	height: auto;
	display: block;
	border-bottom-style:solid;
	border-bottom-color:#D4D4D4;
	border-bottom-width: thin;
	height: 60px;
}
.matchinfo{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding-left: 10px;
	padding-top: 10px;
}
.matchdate{
	font-family: 'Avenir Next Ultra Light';
	font-size: 12px;
	color: gray;
}
.matchround{
	font-family:"Hiragino Sans GB W3";
	font-size: 10px;
	color: gray;
	padding-left: 5px;
}

.matchdetails{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding-left: 10px;
	padding-bottom: 5px;
}
.matchevent{
    color:black;
	font-family: "Hiragino Sans GB W6";
	margin-right:10px;
	width:220px;
}

.resnum{
	font-family: 'Avenir Next Heavy';
	/*font-size: 30px;*/
	color: black;
	margin-right: 15px;
}

.tail{
	font-family:"Galvji";
	font-style: italic;
	text-align: center;
	width: 100%;
	color: darkgray;
	margin-top: 20px;
	margin-bottom: 20px;
}
.button{
	width:auto;
	height:auto;
	margin-right: 20px;
	text-align:center;
	
	font-size:15px;
	color: #99A7FF;
	background-color: white;
	font-family:'Avenir Next Heavy';
	border-width: 0px;
	cursor:pointer;
	user-select:none;
	transition:0.5s;
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: 3px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	box-shadow:2px 2px 2px 0 rgba(0,0,0,0.2),1px 1px 1px 0 rgba(0,0,0,0.2);
}
.button:hover{
    background-color: #0022FF;
	color:white;
    box-shadow:1px 1px 1px 0 rgba(0,0,0,0.2),1px 1px 1px 0 rgba(0,0,0,0.2);
	margin-bottom: 15px;
	border-radius: 3px;
}

table{
	margin-left: 70px;
		margin-top: 20px;
		width:90%;

}
table,td,th {

	border-collapse: collapse;
	border-spacing: 0;
	border-bottom-color: #CFCFCF;
	border-bottom-style: solid;
}

th{
	vertical-align: middle;
	color:#0022FF;
	text-align: center;
	width:45%;
	font-family: 'Futura';
	font-size: 1rem;
	line-height: 1.2;
	padding:1rem 0 ;
}
td{
	vertical-align: middle;
	color:#535353;
	text-align:center;
	width:45%;
	font-family: 'Futura';
	font-size: 1rem;
	line-height: 1.2;
	padding:0.8rem 0;
	font-shadow:1px 1px 1px 0 rgba(0,0,0,0.2);
}

.brk_container{
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom-color: #CFCFCF;
	border-bottom-style: solid;
	width:auto;
	font-family: "Avenir Next Heavy";
}

.brk_container_main{
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom-color: #CFCFCF;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
	width:auto;
	color: #535353;
	font-family: 'Avenir Next Medium','Hiragino Sans GB W6';
}
.brk_divider{
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom-color: #0022FF;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
	width:auto;
	background-color:#0022FF;
	color:white;
	font-family:"Avenir Next Heavy",'Futura','Hiragino Sans GB W6';
}
a:link {color:gray;}      /* 未访问链接*/
a:visited {color:gray;}  /* 已访问链接 */
a:hover {color:#0022FF;}  /* 鼠标移动到链接上 */
a:active {color:#0022FF;}  /* 鼠标点击时 */

